{% extends "emails/base.html" %}

{% block title %}密码已修改 - 零屿笔记{% endblock %}

{% block header %}密码已修改{% endblock %}

{% block content %}
<p>您好 {{ user.username }}，</p>

<p>您的零屿笔记账号密码已成功修改。</p>

<p>此修改于 {% now "Y-m-d H:i" %} 生效。</p>

<p>如果这不是您本人操作，请立即：</p>
<ol>
    <li>使用"忘记密码"功能重置您的密码</li>
    <li>联系我们的支持团队</li>
</ol>

<div style="text-align: center; margin: 30px 0;">
    <a href="https://zeroislenotes.com/reset-password" class="button">重置密码</a>
</div>

<p>为了保障您的账号安全，我们建议您：</p>
<ul>
    <li>定期更改密码</li>
    <li>使用强密码（包含大小写字母、数字和特殊字符）</li>
    <li>不要在多个网站使用相同的密码</li>
    <li>不要与他人分享您的密码</li>
</ul>

<p>零屿笔记团队</p>
{% endblock %}
